<h1>Buckets Home</h1>

<%= link_to "Sign Up", new_user_registration_path %><br>
<%= link_to "Sign In", new_user_session_path %><br>
<%= link_to "Login with Google", user_google_omniauth_authorize_path %>
