<h1>Item Page</h1>
<h3><%= @item.name %></h3>
<ul>
  <% if !@item.buckets.empty? %>
    <% @item.buckets.each do |bucket| %>
      <li><%= bucket.name %>  |  <%= bucket.user.name %></li>
    <% end %>
  <% else %>
    <li><%= link_to "Add Bucket", edit_item_path(@item) %></li>
  <% end %>
</ul>
